@import url(conmon.css);

body,html{
	width: 100%;
	height: 100%;
}
.wraper,section{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-flex;
	flex-direction: column;
}

header{
	height: .5rem;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 999;
	.head_top{
		 width: 90%;
		 height: 100%;
		 margin:0 auto;
		 display: -webkit-flex;
		 justify-content: space-between;
		 align-items: center;
		 a{
		 	display: -webkit-flex;
		 	flex-direction: column;
		 	color:#fff;
		    i.icon{
		      text-align:center;
		      font-size: .24rem;
		    }
		 }
		.top_cen{
		 	width:75%;
		 	background: #fff;
		 	display: -webkit-flex;
		 	height:.3rem;
		 	border-radius: .2rem;
		 	padding: .18rem .08rem;
		 	justify-content: space-between;
		 	align-items: center;
		 	i.icon-fangdajing{
		 		align-self: center;
		 	}
		 	input{
		 		width: 73%;
		 		text-indent: .06rem;
		 	}
		 	a{
		 		color:#989ba1;
		 		font-size: 12px;
		 		i.icon-gongzuo{
		 			font-size: 12px;
		 		}
		 	}
		 }
	}
}

.scroll{
	width: 100%;
	height:100%;
	overflow-y:scroll;
}
.banner{
	width: 100%;
	height: auto;
	position: relative;
	li:not(:first-child){
		display:none;
	}
	img{
		display:block;
		width: 100%;
	    height: auto;
	}
	p{
		position:absolute;
		bottom:.1rem;
		right:.1rem;
		display: -webkit-flex;
		span{
			display: block;
			width: .1rem;
			height: .04rem;
			background:#a976f3;
			margin-left: .03rem;
			border-radius: 2px;
		}
		span.bg{
			background:#fff;
		}
	}
}

.go_sec{
	width: 95%;
	margin: 0 auto;
	height: auto;
	a{
		display:block;
		width: 100%;
		height: auto;
		position: relative;
		img{
			display:block;
		    width: 100%;
		    height: auto;
		}
		span{
          position:absolute;
          top:50%;
          right:7%;

		}
	}
}

.tem_sec{
	width: 100%;
	background: #f9ede4;
	height: auto;
	.tem_inner{
		width: 90%;
		margin: 0 auto;
		h3{
			font-size: .16rem;
			margin-top: .07rem;
			display: -webkit-flex;
		 	justify-content: space-between;
			p{
				color:#e01217;
			    font-weight: bold;
				span{
					color:#222;
					margin-left: .05rem;
					font-size: 12px;
					b{
						font-size: 18px;
						font-weight: bold;
					}
			    }
			}
			a{
			   margin-top: .02rem;
			   color: #000;
			   span{
			   	 width:.12rem;
			   	 height: .12rem;
			   	 color:#fff;
			   	 background: #000;
			   	 border-radius: 50%;
			   	 float: right;
			   	 line-height: .12rem;
			   	 text-align: center;
			   	 margin-top: .04rem;
			   	 margin-left: .08rem;
			   }
			}
		}
		.girl_one{
			display: -webkit-flex;
			margin-top: .1rem;
			a{
				width:45%;
				height: auto;
				align-self: flex-end;
				img{
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.girl_right{
				width:55%;
				height: auto;
				display: -webkit-flex;
				justify-content: space-between;
				margin-bottom: .06rem;
				.right_one{
					width: 47%;
					height: auto;
					background: #fff;
					border-radius: .05rem;
					h4{
						text-align: center;
						margin-top: .08rem;
						font-weight: bold;
					}
					img{
						width: 40%;
						height: auto;
						display: block;
						margin: 0 auto
					}
					button{
						width: .45rem;
						height: .22rem;
						border-radius: .1rem;
						border:none;
						color:#fff;
						background: red;
						margin:.05rem auto;
						display: block;

					}
				}
			}
		}
	}
}