@import url(conmon.css);
body, html {
  width: 100%;
  height: 100%;
}

.wraper, section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  flex-direction: column;
}

header {
  height: .48rem;
  background: #ff5000;
}
header nav {
  width: 95%;
  height: 100%;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
header nav a {
  color: #fff;
  text-align: center;
}
header nav a i.icon {
  display: block;
  font-size: 18px;
}

nav .top_cen {
  flex-grow: 1;
}
nav .top_cen div {
  width: 83%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  position: relative;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .04rem;
  padding: 0 0 .04rem 0;
}
nav .top_cen div i.icon {
  color: #fff;
}
nav .top_cen div input {
  width: 90%;
  background: none;
}
nav .top_cen div input::-webkit-input-placeholder {
  color: #fff;
}
nav .top_cen div:before {
  content: "";
  width: 1px;
  height: .06rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav .top_cen div:after {
  content: "";
  width: 1px;
  height: .06rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.scroll {
  width: 100%;
  height: 100%;
  background: #eee;
  overflow-y: scroll;
}

.banner {
  width: 100%;
  height: auto;
}
.banner img {
  display: block;
  width: 100%;
  height: auto;
}
.banner img:not(.first) {
  display: none;
}

.pic_list {
  background: #fff;
}
.pic_list .pic_inner {
  width: 95%;
  margin: 0 auto;
  display: -webkit-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pic_list .pic_inner dl {
  width: 20%;
  height: auto;
  margin-top: .08rem;
}
.pic_list .pic_inner dl dt {
  width: 80%;
  margin: 0 auto;
}
.pic_list .pic_inner dl dt img {
  width: 100%;
  height: auto;
  display: block;
}
.pic_list .pic_inner dl dd {
  text-align: center;
}
.pic_list .taob_tit {
  width: 90%;
  margin: .15rem auto;
  display: -webkit-flex;
  align-items: center;
}
.pic_list .taob_tit img {
  width: .48rem;
  margin-right: .18rem;
}
.pic_list .taob_tit p {
  border-left: 1px solid #ccc;
}
.pic_list .taob_tit p a {
  display: block;
  margin-left: .08rem;
  overflow: hidden;
  margin-bottom: .04rem;
  color: #666;
}
.pic_list .taob_tit p a span {
  float: left;
  border: solid 1px red;
  border-radius: 3px;
  margin-right: .08rem;
  color: red;
  padding: 0 .03rem;
}

.taob_bl {
  background: #fff;
}
.taob_bl .bl_mm {
  width: 90%;
  margin: .15rem auto;
  display: -webkit-flex;
  align-items: center;
  padding: 8px 0;
}
.taob_bl .bl_mm .bl {
  width: .75rem;
  height: .52rem;
  margin-right: .1rem;
}
.taob_bl .bl_mm .kl_pic {
  flex: 1;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.taob_bl .bl_mm .kl_pic .one_kl {
  border-left: solid 1px #ccc;
  padding-left: .1rem;
}
.taob_bl .bl_mm .kl_pic .one_kl h3 {
  color: #fb4300;
  font-weight: 600;
}
.taob_bl .bl_mm .kl_pic .one_kl span {
  color: #ccc;
  font-size: 12px;
}

.kl img {
  width: .32rem;
  height: .65rem;
  float: left;
}
.kl b {
  width: .39rem;
  height: .38rem;
  background: red;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  text-align: center;
  font-size: 12px;
  padding: .01rem;
  margin-left: .05rem;
}

.taob_qg {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  background: #fff;
  flex-wrap: wrap;
}

.qg_list {
  display: -webkit-flex;
  align-items: flex-end;
  width: 50%;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: .1rem 0;
}

.qg_list div {
  width: 50%;
  display: -webkit-flex;
  flex-direction: column;
}

.qg_list div:nth-child(1) {
  margin-left: .06rem;
}

.qg_list h3 {
  font-weight: bold;
  color: red;
}

.qg_list p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.qg_list p span {
  background: #000;
  color: #fff;
  border-radius: 3px;
  padding: 0 2px;
}

.qg_list .computer {
  width: 75%;
  display: block;
  margin-top: 10%;
}

.qg_list .phone {
  width: 85%;
  display: block;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
