html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 1.17333rem;
  background-image: linear-gradient(-135deg, #15bce6 0%, #2d6ab9 100%);
  padding: 0 0.4rem;
  box-sizing: border-box;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

header div {
  width: 0.8rem;
  height: 0.8rem;
}

header div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

header h3 {
  font-size: 0.4rem;
  color: #fff;
}

footer {
  width: 100%;
  height: 1.33333rem;
  background: #fff;
  border-top: 1px solid #ccc;
}

footer ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

footer ul li {
  width: 33.3%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 0.26667rem;
}

.suo {
  width: 100%;
  padding: 0.26667rem 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.suo .top {
  width: 100%;
  height: 0.8rem;
  background: #ccc;
  border-radius: 0.08rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.suo .top input {
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(138, 137, 137, 0.8);
}

.suo .top img {
  position: absolute;
  left: 3.73333rem;
}

section {
  width: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
}

.news {
  width: 160%;
  height: 1.49333rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  padding: 0.13333rem 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-align-items: center;
  align-items: center;
  transition: all 1s;
}

.news .head {
  width: 15%;
  height: 1.33333rem;
  flex: .8;
}

.news .head img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.news .main {
  flex: 3.5;
  width: 70%;
  margin-left: 0.4rem;
}

.news .main h2 {
  padding: 0.13333rem 0;
}

.news .time {
  flex: 1;
  width: 15%;
}

.news .del {
  flex: 1;
  height: 100%;
  background: red;
  line-height: 1.38667rem;
  text-align: center;
  color: #fff;
  font-size: 0.34667rem;
}

.news .wei {
  flex: 1;
  height: 100%;
  background: orange;
  line-height: 1.38667rem;
  text-align: center;
  color: #fff;
  font-size: 0.34667rem;
}

.news .din {
  flex: 1;
  height: 100%;
  background: #ccc;
  line-height: 1.38667rem;
  text-align: center;
  color: #fff;
  font-size: 0.34667rem;
}

.active {
  transform: translateX(-35%);
}
