html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1.17333rem;
  border-bottom: 1px solid #ccc;
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

header form {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 0.66667rem;
  margin-top: 0.21333rem;
  line-height: 0.66667rem;
}

header form div {
  width: 80%;
  height: 100%;
  background: #dddcdc;
}

header form div .iconfont {
  font-size: 0.4rem;
  padding: 0 0.21333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

header form div input {
  color: #949494;
}

header form .iconfont {
  width: 20%;
  text-align: center;
  font-size: 0.48rem;
}

footer {
  width: 100%;
  height: 1.17333rem;
  background: #ccc;
  border-top: 1px solid #000;
}

footer ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

footer ul li {
  width: 25%;
  text-align: center;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

footer ul li .iconfont {
  font-size: 0.53333rem;
}

section {
  flex: 1;
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  overflow: hidden;
}

section .left {
  width: 25%;
  height: 100%;
  background: #dddcdc;
  overflow: hidden;
}

section .left ul {
  text-align: center;
  line-height: 1.6rem;
}

section .left ul li {
  width: 100%;
  height: 1.6rem;
}

section .right {
  width: 75%;
  height: 100%;
}

section .right ol {
  width: 100%;
  height: 1.6rem;
  display: flex;
}

section .right ol li {
  width: 1.33333rem;
  height: 1.06667rem;
  text-align: center;
  line-height: 1.33333rem;
}

section .right .swiper-container {
  width: 100%;
}

section .right .swiper-container .swiper-wrapper,
section .right .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
}

section .right .swiper-container .swiper-wrapper img,
section .right .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}

section .right ul {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

section .right ul li {
  width: 32%;
  padding: 0.4rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

section .right ul li img {
  width: 1.6rem;
  height: 1.6rem;
}

section .right ul li span {
  margin-top: 0.4rem;
  display: block;
}

.bg {
  background: #fff;
  color: pink;
}

.active {
  color: orange;
  border-bottom: 2px solid orange;
}
