*{
	margin:0;
	padding:0;
}
.box{
	width:100px;
	height:100px;
	background:#0ff;
	-webkit-transition:width 1s ease-in 1s,height 1s ease-in 1s,background 1s ease-in 1s;
}
.box:hover{
	width:500px;
	height:300px;
	background:green;
}

.wrap{
	width:150px;
	height:100px;
	border:solid 1px green;
	float:left;
	margin:20px 0 0 10px;
	line-height:100px;
	text-align:center;
	-webkit-transition:all .5s ease-in .5s;
}

.wrap:nth-child(1){
	-webkit-transform:translate(0);
}
.wrap:nth-child(1):hover{
	-webkit-transform:translate3d(660px,100px,100px);
}


.wrap:nth-child(2){
    opacity:0.4;
	-webkit-transform:scaleX(0.5)
}
.wrap:nth-child(2):hover{
	opacity:1;
	-webkit-transform:scaleX(1);
}

.wrap:nth-child(3){
	-webkit-transform:rotate3d(0);
}
.wrap:nth-child(3):hover{
	-webkit-transform:rotate3d(0,1,0,180deg);
}

.wrap:nth-child(4){
	-webkit-transform:skew(30deg,30deg);
}


//划过导航

a{text-decoration:none;color:#666}

header{
	height:45px;
	width:100%;
	border-bottom: solid 1px #ccc;
	position:relative;
	a{
	  width:(100%/3);
	  text-align:center;
	  float:left;
	  line-height:45px;
	}
	span{
	  position:absolute;
	  width:(100%/3);
	  height:2px;
	  background:red;
	  left:0;
	  bottom:-1px;
	  -webkit-transition:all 1s ease-in;
	}
	a:nth-child(2):hover~span{
	  -webkit-transform:translateX(100%);
	}
	a:nth-child(3):hover~span{
	  -webkit-transform:translateX(200%);
	}
}