@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-size: .14rem;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
html{
	font-size: 625%;
	background: #f4f8fb;
}
html,body,.box{
	width: 100%;
	height: 100%;
}
%text{
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	word-break: break-all;
	overflow: hidden;

}
a{ 
	text-decoration: none;
	color: #000;
}
b,strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
ul li,ol li{
	list-style: none;
}
u{
text-decoration: none;
}

.box{
	display: flex;
	flex-direction: column;
}
%qjz{
	display: flex;
	justify-content: center;
	align-items: center;
}
.no-bottom{
	border-bottom:none!important;
}
header{
	background: #fff;
	width: 100%;
	height: .45rem;
	display: flex;
	a{
		flex:1;
		@extend %qjz;
		&:nth-child(2){
			flex:4;
		};
		&:nth-child(3){
			color: #ff2742;
		};
		font-size:.17rem;
	}
	border-bottom:0.01rem solid #ccc;
	
}

section{
	width: 100%;
	flex:1;
	overflow-y:scroll;
	.nav{
		width: 100%;
		height: .4rem;
		display: flex;
		position: relative;
		border-bottom:0.01rem solid #ccc;
		background: #fff;
		a{
			flex:1;
			@extend %qjz;
			&:nth-child(2):hover ~ span{
				transform:translate(100%);
			};
			&:nth-child(3):hover ~ span{
				transform:translate(200%);
			};
		}
		span{
			transition:all 500ms ease-in;
			position: absolute;
			width: calc(100%/3);
			height: 0.02rem;
			background:#ff2742;
			left: 0;
			bottom:0;
		}
	}
	.weibo{
		width: 100%;
		margin-top:.15rem;
		background: #fff;
		.weibo_top{
			width: 100%;
			.we{
				width: 80%;
				margin-left:5%;
				border-bottom:0.01rem solid #ccc;
				padding:.1rem 0;
				display: flex;
				position: relative;
				span{

					@extend %qjz;
					border-radius: 50%;
					
					width: .35rem;
					height: .35rem;
					background: #e7e7e7;
					i{
						font-size: .2rem!important;
						color: #ffffff;
					}
				}
				strong{
					@extend  %qjz;
					margin-left:5%;
					font-size: .14rem;
				}
				a{
					position: absolute;
					right:-10%;
					top: 50%;
					transform: translateY(-50%);
					color: #ccc;
				}
			}
		}
	}
}
.share{
	margin-top:.1rem;
	width: 100%;
	background: #fff;
	padding:.1rem 0;
	.shareimg{
		width: 80%;
		margin-left:5%;
		display: flex;
		position: relative;
		span{
			@extend %qjz;
			border-radius: 50%;
			width: .35rem;
			height: .35rem;
			background: #e7e7e7;
			i{
				font-size: .2rem!important;
				color: #ffffff;
			}
		}
		strong{
			display: flex;
			flex-direction: column;
			margin-left:5%;
		}
		f{
			color: #000;
			margin-left: .05rem;
		}
		em{
			color: #ccc;
		}
		b{
			position: absolute;
			right:-10%;
			top: 50%;
			transform: translateY(-50%);
			color: #ccc;
			a{
				border-radius: .04rem;
				border:.01rem solid red;
				padding:.03rem .06rem;
				margin-left: .1rem;
				&:nth-child(2){
					border-color:#ccc;
				};
			}
		}
	}
}
.attention{
	width: 80%;
	margin:0 auto; 
	padding:.15rem 0;
	@extend %qjz;
	margin-top: .1rem;
	background: #f4f8fb;
	border-radius: .1rem;
	i{
		color: #000;
		font-size: .25rem;
		color:#eee;
	}
}
.enjoy{
	width: 100%;
	padding:.1rem 0;
	background: #fff;
	.yuleshu{
		width: 80%;
		margin-left:5%;
		display: flex;
		position: relative;
		i{
			font-weight: bold;
		}
		span{
			@extend %qjz;
			border-radius: 50%;
			width: .35rem;
			height: .35rem;
			background: #e7e7e7;
			i{
				font-size: .2rem!important;
				color: #ffffff;

			}
		}
		strong{
			display: flex;
			flex-direction: column;
			margin-left:5%;
		}
		
		em{
		}
		b{
			position: absolute;
			right:-10%;
			top: 50%;
			transform: translateY(-50%);
			color: #ccc;
			a{
				border-radius: .04rem;
				border:.01rem solid red;
				padding:.03rem .06rem;
				margin-left: .1rem;
				&:nth-child(2){
					border-color:#ccc;
				};
			}
		}

	}
}
.lunbo{
	width: 100%;
	height: auto;
	overflow: hidden;
	ul{
		width: 300%;
		display: flex; 
		li{
			flex-basis:33.3%;
			a{
				@extend %qjz;
				flex-direction: column;
				width: 100%;
				img{
					width: 80%;
					height: auto;
					display: block;
				}
				 h6{
				 	font-size: .12rem;
				 	width: 70%;
				 }
				 span{
				 	font-size: .12rem;
				 	width: 70%;
				 	@extend %text;
				 }
			}
		}

		animation:move 20s linear infinite alternate;
	}


}

@keyframes  move{
	0%{transform: translate(0);}
	100%{transform: translate(-66.67%);}
}