@import "_minix.scss";
@import "common.scss";
.wrapper {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 44px;
    background: rgb(124, 226, 124);
    @include box_flex;
    @include align(center);
    div {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }
    .list {
        @include box_flex;
        @include align(center);
    }
}

header {
    position: relative;
}

.topimg {
    img {
        width: 100%;
    }
}

.content {
    .left {
        img {
            width: 100%;
            height: 200px;
        }
    }
    .right {
        img {
            width: 100%;
            height: 200px;
        }
    }
}

.content {
    padding: 0 10px;
    box-sizing: border-box;
    @include box_flex;
}

.right {
    @include box_flex;
}

.left {
    flex: 1;
}

.right div {
    flex: 1;
}

@media screen and (min-width:980px) {
    header {
        div {
            display: none;
        }
        h1 {
            font-size: 25px;
            flex: 3;
            margin-left: 15px;
        }
        .list {
            flex: 7;
            li {
                flex: 1;
            }
        }
    }
    .right,
    .left {
        flex: 1;
    }
}

@media screen and (max-width:980px) {
    header h1 {
        display: none;
    }
    header div {
        display: block;
    }
    header {
        position: relative;
    }
    header .list {
        width: 100%;
        height: 0;
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        text-align: center;
        display: block;
        background: rgba(0, 0, 0, .3);
        z-index: 99;
        transition: all 2s;
        overflow: hidden;
    }
    header .list li {
        height: 30px;
        line-height: 30px;
    }
    header:hover .list {
        height: 150px;
    }
    .content {
        flex-wrap: wrap;
    }
}