@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  background: #1D1D28;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 2.34667rem;
}

.tou {
  width: 100%;
  height: 1.17333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.tou span {
  width: 10%;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
}

.tou h3 {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  color: #fff;
  text-align: center;
  font-size: 0.4rem;
}

.nav {
  width: 100%;
  height: 1.17333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  background: #2CBB55;
  justify-content: space-between;
}

.nav .tit img {
  width: 1.06667rem;
  height: 0.56rem;
  padding: 0 0.26667rem;
}

.nav form {
  width: 60%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  height: 0.8rem;
  background: #fff;
  line-height: 0.8rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.nav form img {
  margin: 0.26667rem;
}

.nav .lei {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  color: #fff;
  padding: 0 0.08rem;
}

.nav .lei span {
  padding: 0 0.13333rem;
}

section {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
}

.banner {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  justify-content: space-between;
  margin: 0.4rem 0;
}

.banner img {
  padding: 0 0.4rem;
}

.banner span:nth-of-type(1) {
  width: 10%;
  height: 3.17333rem;
  background: #272734;
  border-radius: 0 0.4rem 0.4rem 0;
}

.banner span:nth-of-type(2) {
  width: 10%;
  height: 3.17333rem;
  background: #272734;
  border-radius: 0.4rem 0 0 0.4rem;
}

.list {
  width: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
}

.list ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-wrap: wrap;
}

.list ul li {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 25%;
  text-align: center;
}

.list ul li a {
  color: #fff;
  margin: 0.21333rem 0;
}

.title {
  width: 100%;
  padding: 0.4rem;
}

.title .head {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

.title .head span {
  width: 0.08rem;
  height: 0.4rem;
  background: #FBC700;
  margin-right: 0.26667rem;
}

.title .head h6 {
  color: #fff;
  font-size: 0.4rem;
}

.title ul {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  overflow-x: scroll;
}

.title ul li {
  width: 50%;
  height: 2.4rem;
  line-height: 2.4rem;
  color: #fff;
  font-size: 0.53333rem;
  text-align: center;
  margin: 0.26667rem 0.32rem;
  flex-shrink: 0;
  overflow: hidden;
}

.title ul li:nth-of-type(1) {
  background: url(../img/国际@2x.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.title ul li:nth-of-type(2) {
  background: orange;
}

.title ul li:nth-of-type(3) {
  background: orange;
}

footer {
  width: 100%;
  height: 1.33333rem;
  background: #fff;
}

footer ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

footer ul li {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
  line-height: 1.33333rem;
  text-align: center;
}

footer ul li img {
  width: 0.58667rem;
  height: 0.58667rem;
}

footer ul li a {
  font-size: 0.4rem;
  padding: 0 0.26667rem;
}

footer ul li:nth-of-type(1) {
  border-right: 0.02667rem solid #ccc;
}
